* {
  margin: 0;
  padding: 0;
}

.navigation {
  font-family: var(--font1);
  /* height: 74px; */
  margin-top: 17px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  font-size: 25px;
  display: flex;
}
span img {
  margin-top: 25px;
}
.nav-left span {
  padding-top: 15px;
  font-size: 35px;
}
.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
  padding: 23px;
}
.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  font-family: var(--font2);
}
.nav-left ul li a:hover {
  color: var(--main-bg-color);
  font-weight: bolder;
}
.nav-left ul li a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  color: black;
}
/* .nav-right {
} */
.content {
  display: flex;
  height: 100%;
  display: flex;
  /* background-color: rgb(197, 240, 240); */
  margin-top: 12px;
  padding: 9px;
  position: relative;
}
.content::after {
  background-image: url(../img/home.svg);
  content: "";
  position: absolute;
  width: 100px;
  height: inherit;
  opacity: 0.15;
  border-radius: 12px;
}
.content-left {
  font-family: var(--font1);
  /* width: 50%; */
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 50px;
  justify-content: center;
}
.content-right {
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-right img {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 200px;
  height: 350px;
  padding: 0px;
}
.home-articles {
  /* height: 455px; */
  padding-top: 12px;
  position: relative;
  margin-top: 23px;
  /* background-color: rgb(247, 174, 174); */
}
.year-box {
  position: absolute;
  /* width: 234px; */
  /* height: 455px; */
  /* background-color: red; */
  right: 67px;
  top: 100px;
  width: 234px;
  height: 255px;
  font-size: 18px;
}
.year-box div {
  margin: 12px 0px;
}
.home-article {
  margin: 25px;
  display: flex;
}
.home-article img {
  width: 300px;
}
.home-article-content {
  align-self: center;
  padding: 25px;
}
.home-article-content a {
  text-decoration: none;
  color: black;
}
.footer {
  height: 50px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}
.footer a,
p {
  color: black;
  text-decoration: none;
}
